@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-zinc-950: #0a0a0a;
  --animate-blob: blob 10s infinite alternate;
  --animate-float: float 6s ease-in-out infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040814;
  color: #e2e8f0;
}

/* Custom scrolling for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f5ff;
  box-shadow: 0 0 10px rgba(0, 245, 255, 0.5);
}